[sssd]
domains = {{ realm }}
config_file_version = 2
services = nss, pam

[domain/{{ realm }}]
ad_domain = {{ realm }}
krb5_realm = {{ realm }}
krb5_rcache_dir = /var/cache/
realmd_tags = manages-system joined-with-samba
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = False
#ad_gpo_access_control = disabled
#ad_maximum_machine_account_password_age = 7
fallback_homedir = /home/%u
access_provider = ad
{% if authentication_sssd_ad_access_filter is defined %}
ad_access_filter = {{ authentication_sssd_ad_access_filter }}
{% endif %}
